{% extends "blog/base.html" %} {% block content %}
<h1>Sobre BIMER</h1>
<p>
  BIMER es una empresa de reparación electrónica industrial propiedad de
  ingenieros biomédicos en México. Hemos estado brindando servicio a una gama
  completa de productos. Nuestras reparaciones electrónicas, incluyen todo tipo
  de modelos que van de actuales e incluso obsoletos. Este es un servicio, único
  y de alta necesidad que nadie más ofrece. &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp;<br /><br />Nuestro equipo evaluará y cotizará su unidad el mismo día, y
  nunca se cobrará una tarifa por este servicio. Con documentación de más de
  1000 fabricantes, seguimos siendo el mejor recurso para el mantenimiento de
  equipo médico.<br /><br />
</p>
{% endblock content %}
